body {
    background-color:orange; 
}



.inline {
    display: inline - block;
    text-align: center;
    
 }

 #sta {
    height: 20px;
 }

 #sto {
    height: 20px;
 }

 #res {
    height: 20px;
 }
 


 #timer {
     text-align: center;
     font-size: 80px;
 }