body {
    background-color:orange; 
}



.inline {
    display: inline - block;
    text-align: center;
    
 }

 #start {
    ;
 }

 #stop {

 }

 #reset {

 }
 


 #time {
     text-align: center;
     font-size: 80px;
 }